html, body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

#bodycontent{
	width:100%;
	position: absolute;
	top: 0;
	z-index: 0;
}

section{
	margin: 0 auto;
	width: 100%;
	height: 100vh; /*vh means percentage of viewport height*/
	display: flex;
	position: relative;
	text-align: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /*images don't scroll w/ page*/
	justify-content: center;
	z-index: 2;
}

p, h1, h2, h3, h4, h5, h6, a{
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0,0,0,0.85);
	color:white;
	text-shadow: .05em .05em #440022;
	text-align: center;
	z-index: 3;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
}

h1{
	font-size: 4em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
	text-align: left;
}

#head{
	background-color: #090505;
}

section.s1{
	background-image: url(../img/smokeygun.png);
	background-position: 0% 25%;
		
}

section.s2{
	background-image: url(../img/burninghouse.jpg)
}

section.s3{
	width: 25%;
	background-color: #1F1111;
}

section.s4{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/32/Fire-Forest.jpg)
}

.s5{
	margin: 0 auto;
	width: 100%;
	height: 100vh; /*vh means percentage of viewport height*/
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /*images don't scroll w/ page*/
	justify-content: center;
	z-index: 2;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/32/Fire-Forest.jpg)
}

#mapid{
	position: relative;
	z-index: -1;
	height: 100vh;
	background-image: url(../img/smokeygun.png)
}

#container{
	z-index: 100;
	postion: absolute;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	align-content: flex-start;
}

#mapselect{
	text-align: left;
}

#infoselect{
	margin: 0 auto;
	top: 0;
	bottom: 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 10000;
	width: 250px;
	height: 260px;	
	background-size: cover;
	background-color: #1F1111;
}

#coolparagraph{
	width:80%;
}

@media(max-width:1024px){
	/*stuff*/
}
